.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  border: 1px solid transparent;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 35px;
  background-color: #f7f7f8;
}
